.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px; /* Space between the icon and text */
}
#foot{
    position: fixed;
    width: 100%;
    
    bottom: 0;
    text-align: center;
}
footer{
    margin:auto;
    background-color:rgb(253, 251, 251);
     text-align:center;
    padding: 2rem;
    width: 100%;
   
}
  
  footer .links ul li {
    display: inline; /* Ensure items are inline */
  }
  
  footer .links ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #080808; /* Optional link color */
    
  }
  
  footer .links ul li a:hover {
   text-decoration: none; 
   color: orangered;
   
  }
  main{
    text-align: center;
    border-radius: 1rem;
  }
  #btn button{
   background-color: orangered; 
   color: black;
   border-radius: .5rem;
   
  }
  main #btn  button a{
    text-decoration: none;
    color: black;
    
  }
  main #btn button a:hover{
    color: white;
  }
  ul {
    list-style: none; /* Removes the bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
  }
  
  .quote h3 { /*to align the motivational quote header*/
    text-align: center; 

}
.quote{
    text-align: center; /*used to align the button*/
}
section{
    background-color: rgba(219, 218, 218, 0.884);
    border-radius: .5rem;
    width: 900px; /*to make the box smaller*/
    margin: auto; /*to center the items*/
    padding: 1rem;
    
}
#quoteBtn{
    border-radius: .5rem; /* change the border of hte quote button*/
    background-color: orangered;
    color: black;
}
#quoteBtn:hover{
    color: white;
}