img{
    height: 100px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
    color: rgb(8, 8, 8);
    background: url(../images/giphy.webp) center / cover;
    image-resolution: 96dpi;
    }

main{
    width: 50vw;
    margin: 1rem auto;
    padding: 1rem;
    color: rgb(8, 8, 8);
    background-color:rgba(250, 235, 215, 0.884);
    position:relative;

    
} 
h1{
    font-size: 20px;
}


    

    .navbar-brand{
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: auto;
        
        }

      